<div class="right">

  <h1 *ngIf="isHero" class="heading heading-for-tables">Selected Hero:
    <span class="heading-colored">{{ currentHeroName }}</span>
  </h1>
  <h1 *ngIf="!isHero" class="heading heading-for-tables">Selected Valiant:
    <span class="heading-colored">{{ currentHeroName }}</span>
  </h1>

  <h1 *ngIf="isHero" class="heading heading-for-tables">Hero Personal Data (data from public API):</h1>
  <h1 *ngIf="!isHero" class="heading heading-for-tables">Valiant Personal Data (data from public API):</h1>
  <div *ngIf="!heroPersonalData">Loading data...</div>
  <div *ngIf="!heroPersonalData"><app-spinning-circle></app-spinning-circle></div>
  <div *ngFor="let tempHeroPersonalData of heroPersonalData">
    <div class="information-box">
      <table class="table-information">
        <thead>
        <tr>
          <th>Full name:</th>
          <th>{{ tempHeroPersonalData!.biography.fullName }}</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Place of birth:</td>
          <td>{{ tempHeroPersonalData!.biography.placeOfBirth }}</td>
        </tr>
        <tr>
          <td>Weight:</td>
          <td>{{ tempHeroPersonalData!.appearance!.weight[1] }}</td>
        </tr>
        <tr>
          <td>Alignment:</td>
          <td>{{ tempHeroPersonalData!.biography!.alignment }}</td>
        </tr>
        <tr>
          <td>Super Hero ID:</td>
          <td>{{ tempHeroPersonalData!.id }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h1 class="heading heading-for-tables">Appearance in films (data from Spring Boot API):</h1>

  <div *ngIf="!heroes">Loading data...</div>
  <div *ngIf="!heroes"><app-spinning-circle></app-spinning-circle></div>

  <div *ngFor="let tempHero of heroes">

    <div class="information-box">
      <table class="table-information">
        <thead>
        <tr>
          <th>Film name:</th>
          <th>{{ tempHero.filmName }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Actor name:</td>
          <td>{{ tempHero.actorName }}</td>
        </tr>
        <tr>
          <td>CSFD Rating:</td>
          <td>{{ tempHero.csfdRating }}%</td>
        </tr>
        <tr>
          <td class="link-in-table">
            <a href="{{ tempHero.csfdUrl }}" target="_blank">Link to CSFD</a>
          </td>
          <td></td>
        </tr>

        </tbody>
      </table>
  </div>


    </div>
</div>
