* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url(/assets/images/marvel-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: 100%;
  font-family: "Lato", "Aril", sans-serif;

  /* Disable select any text */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

}

h1 {
  color: #ddd;
  /*text-transform: uppercase;*/
  font-weight: bold;
  text-rendering: optimizeLegibility;
  margin: 0 0 25px 0;
  font-size: 16px;
}

.heading {
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(187, 187, 228), 0 0 5px rgb(1, 178, 248);
}

.heading-for-tables {
  text-align: left;
}

.heading-colored {
  color: #81b3d2;
}

#wrapper {
  display: flex;

}

#box-left-right {
   /*background: blue;*/
  /* border : 2px solid #000;  */
  /* overflow:hidden; */
  box-sizing: border-box;
  width: max-content;
}

#left {
   /*background-color: gray;*/
  float: left;
  margin: 10px 0 0 20px;
  width: 360px;
  border-right: 2px solid #000;
  border-radius: 5%;
  box-shadow: 0 0 20px 5px black;
}

#inside-left {
  margin-left: 10px
}

#right {
  color: #fff;
  /*float:right;*/
  overflow:hidden;
  /*margin: 0 0 100px 100px;*/
  margin-left: 100px;
  padding-left: 50px;
  min-height:170px;
  width: max-content;
  /*background: red;*/
}

.table-information {
  /*table-layout: fixed;*/
  width: 100%;

  font-size: 30px;
  text-align: left;
  color: white;
  margin: 10px 15px 15px 15px;
  /* overflow: visible; */
  /* border-collapse: separate; */

  border-right:2px solid #000;
  /* border-radius: 15%; */
  border-radius: 20px;
  overflow:hidden;
  box-shadow: 0 0 20px 5px black;
}

.table-information td{
  width: 25%;
}

.table-information th {
  padding: 20px 20px;
}

.table-information thead  {
  border-radius: 20px;
  background: linear-gradient(90deg, #4e4b4b 0%, #28494e 51%, #04263d 75%);
  /* background: gray; */
}

.table-information td {
  padding: 10px;
}

.film-information-box {
  margin: 40px 0 0 0;
}

/*.link-in-table {*/
/* font-size: 30px;*/
/*}*/

.link-in-table a {
  text-decoration: none;
  color: #cf06ae;
  /*padding: 5px 20px;*/
  /*font-size: 30px;*/
  font-family: sans-serif;
  position: relative;

}

.link-in-table a:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #cf06ae;
  height: 5%;
  width: 0;
  transform: translateX(-50%);
  transition: all 0.3s linear;


}
.link-in-table a:hover:before{
  width: 100%;
}

